<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://th.bing.com/th/id/OIP.bOJAc8O2t4g1HfTAoDln9AHaEK?pid=ImgDet&rs=1"
        height="200px" 
        width="400px" 
        alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla doloremque, nam ducimus veniam ex impedit sit aspernatur placeat aliquam voluptas dolor eius dolorem ut iste rerum cupiditate quidem vero. Dolore?</a></p>
    </div>
</div>