@media screen and (max-width: 370px) {
    .container__menu-bar > ul {
        display: flex;
        flex-direction: row;
    }

    .container__menu-bar > ul > li{
        margin-right: 0px;
        padding: 0px;
    }
    .container__menu-bar > ul > li > a{
        color: aqua;
        font-size: 12px;
    }
}